body{
background-color: #cccccc;
  background-image: linear-gradient(rgb(184, 216, 235), rgb(67, 166, 231));
}

.container {
    display:flex;
    align-items:center;
    justify-content:center; 
    flex-direction: column;
   
}